body{
    background-image: url("https://www.walldevil.com/wallpapers/a39/background-wallpaper-nature-cloud-dark-wallpapers-clouds-pictures-weather-albums.jpg");
    }
h1{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 70px;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
    0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
    0 0 40px #A5F1FF;
    text-align: center;
    margin: auto;
    width: 80%;
   }
p{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: #a0F8FF;
    margin: auto;
    width: 80%;
    padding: 10px;
    align-items: center;
  }
                